/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/

html{
	scroll-behavior: smooth;
}

body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
	background-color: #fffef8;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0;
}

#nomLogo:hover{
	cursor: pointer;
}

section {
	margin: 50px 0;
}

a{
	text-decoration: none;
	color: black;
}

a:hover{
	color: #B1663C;
	cursor: pointer;
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

.messageErreur{
	font-family: 'Syne';
	font-style: normal;
	font-weight: 700;
	font-size: 30px;
	line-height: 36px;
	text-align: center;
	color: #1D6154;
	text-decoration: underline;
	margin-bottom: 100px;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

nav ul li:hover {
	color: #B1663C;
	cursor: pointer;
}
#introduction {
	display: flex;
	align-items: center;
	margin-bottom: 119px;
	margin-top: 119px;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 51px;
}

.filtres{
	margin-bottom: 51px;
}

.rangeFiltre{
	display: flex;
	justify-content: center;
	gap: 10px;
}

.boutonFiltre{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 37px;
	min-width: 70px; /*100-2x15 du padding*/
	border: 1px solid #1D6154;
	border-radius: 60px;
	padding-right: 15px;
	padding-left: 15px;
	transition: background-color 0.1s;
}

.boutonFiltre:hover{
	background-color: #1D6154;
	color: white;
	cursor: pointer;	
}

.fontFiltre{
	font-family: 'Syne';
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 19px;
	text-align: center;
	color: #1D6154;
}

.filtreActive{
	background-color: #1D6154;
	color: white;	
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}
.remplissage {
	width: 50%;
	margin: auto;
}
.remplissage > * {
	text-align: center;

}
.remplissage h2{
	margin-bottom: 20px;
}
.remplissage form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

.remplissage input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
.remplissage label {
	margin: 2em 0 1em 0;
}
.remplissage textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em;
}

footer{
	background-color: white;
	position: absolute;
	left: 0;
	right: 0;
	width: 100%;

}

#loginPage{
	margin-top: 150px;
}

.remplissage form p{
	text-align: center;
	font-family: 'Work Sans';
}

.remplissage form p:hover{
	text-decoration: underline;
	cursor: pointer;
}

