/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/

html{
	scroll-behavior: smooth;
}

body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
	background-color: #fffef8;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0px 139px 0px;
}

#nomLogo:hover{
	cursor: pointer;
}

section {
	margin: 50px 0;
}

#portfolio{
	margin-top: 135px;
}

a{
	text-decoration: none;
	color: black;
}

a:hover{
	color: #B1663C;
	cursor: pointer;
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

.messageErreur{
	font-family: 'Syne';
	font-style: normal;
	font-weight: 700;
	font-size: 30px;
	line-height: 36px;
	text-align: center;
	color: #1D6154;
	text-decoration: underline;
	margin-bottom: 100px;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;
	gap: 41px;
}
nav li {
	font-size: 1.2em;
}

nav ul li:hover {
	color: #B1663C;
	cursor: pointer;
}
.instagramLogo{
	width: 21px;
	height: 21px;
}

#introduction {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 119px;
	margin-top: 139px;
	margin: auto;
	width: 950px;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 100%;
	height: 355px;
}

#modifierIntro{
	margin-top: 16px;
}

#introduction article {
	flex: 1
}
#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
}

.filtres{
	margin-bottom: 51px;
}

.rangeFiltre{
	display: flex;
	justify-content: center;
	gap: 10px;
}

.boutonFiltre{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 37px;
	min-width: 70px; /*100-2x15 du padding*/
	border: 1px solid #1D6154;
	border-radius: 60px;
	padding-right: 15px;
	padding-left: 15px;
	transition: background-color 0.1s;
}

.boutonFiltre:hover{
	background-color: #1D6154;
	color: white;
	cursor: pointer;	
}

.fontFiltre{
	font-family: 'Syne';
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 19px;
	text-align: center;
	color: #1D6154;
}

.filtreActive{
	background-color: #1D6154;
	color: white;	
}

.gallery {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	justify-content: center;
}

.gallery img {
	height: 410px;
}

.remplissage {
	width: 50%;
	margin: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.remplissage > * {
	text-align: center;

}
.remplissage h2{
	margin-bottom: 20px;
}

form{
	display: flex;
	justify-content: center;
	width: 379px;
}

#titleForm{
	margin-bottom: 0px;
}

.labelTitle{
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	color: #3D3D3D;
	margin-bottom: 10px;
}

.remplissage form {
	text-align: left;
	margin-top:10px;
	display: flex;
	flex-direction: column;
}

input{
	height: 50px;
	/* width: 379px; */
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	padding-left: 16px;
	padding-right: 16px;
}

select{
	border-radius: 0.1px; /* enlève la bordure noire */
	height: 50px;
	/* width: 379px; */
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	padding-left: 16px;
	padding-right: 16px;
	border: 0;
	outline: 0px;
}

input:focus, #message:focus{
	outline: none;
	box-shadow: 0 0 0 2px #1D6154;
	transition: box-shadow 0.25s ease-in-out;
}

#message{
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 10px;
	resize: none;
}
.remplissage label {
	margin: 2em 0 1em 0;
}
.remplissage textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

.bouton{
	color: white;
	background-color: #1D6154;
	text-align: center;
	height: 36px;
	width: 180px;

	font-family: 'Syne';
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	line-height: 17px;
	margin: 40px auto;
	border-radius: 60px ;
	transition: background-color 0.1s;
}

.bouton:hover{
	cursor: pointer;
	background-color: #0E2F28;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em;
}

footer{
	background-color: white;
	position: absolute;
	left: 0;
	right: 0;
	width: 100%;
}

#loginPage{
	margin-top: 150px;
}

.remplissage form p{
	text-align: center;
	font-family: 'Work Sans';
}

.remplissage form p:hover{
	text-decoration: underline;
	cursor: pointer;
}

#edition{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 60px;
	background-color: black;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	width: 100%;
	gap: 21px;
}

#edition div .fa-pen-to-square{
	color: white;
}

.presentation{
	display: flex;
	flex-direction: column;
	gap: 25px;
	margin-left: 72px;
}

.pWidth{
	width: 404px;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.fa-pen-to-square{
	font-size: 16px;
	margin-right: 9px;
}
 
.textModifier{
	display: flex;
	align-items: center;
}

.textEdition{
	color: white;
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	text-align: center;
	display: flex;
	align-items: center;
}

.faPenToSquare{
	display: flex;
	align-items: center;
	justify-content: center;
}

#edition div{
	display: flex;
	flex-direction: row;
	gap: 12px;
	align-items: center;
}

.buttonEdition{
	height: 38px;
	background-color: white;
	border-radius: 999em;
	padding-right: 23px;
	padding-left: 23px;
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	text-align: center;
	border: none;
}

.modifier{
	display: flex;
}

#alignementModifierProjet{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 51px;
}

#ajouterProjet{
	margin-left: 34px;
}

#ajouterProjet:hover{
	cursor: pointer;
	font-weight: 600;
}

#modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 2;
	background-color: rgba(0, 0, 0, 0.3);
	display: none;
  }

.addWorkModalInterface{
	display: none;
	position: fixed;
	z-index: 3;
	width: 630px;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	background-color: white;
	border-radius: 10px;
}

.modalGalery{
	display: none;
}

.modalAdd{
	display: none;
}

#alignementCroixModale{
	text-align: right;
}

#alignementHautModale{
	display: flex;
	justify-content: space-between;
}

.fa-xmark, .fa-arrow-left{
	color: black;
	font-size: 16px;
	margin: 12px; /*carré de 24px*/
	margin-top: 20px;
	margin-right: 20px;
}

.fa-xmark:hover, .fa-arrow-left:hover{
	cursor: pointer;
	color: #B1663C;
}

.modalTitle{
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 26px;
	line-height: 30px;
	margin-bottom: 46px;
	text-align: center;
  }

.modalWorks{
	border-bottom: 1px solid #B3B3B3;
	padding-bottom: 47px;
	margin-left: 105px;
	margin-right: 105px;
	display: flex;
	flex-wrap: wrap;
	gap: 6px;
}

.blocAjout{
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #E8F1F7;
	width: 100%;
	padding-top: 28px;
	padding-bottom: 19px;
	margin-bottom: 30px;
}

#titleInput{
	margin-bottom: 21px;
}

#inputFileButton{
	display: none;
}

.addFileButton{
	display: inline-block;
	background: #CBD6DC;
	border: 1px solid #ccc;
	padding: 10px 33px 10px 33px;
	border-radius: 999em;
	margin-bottom: 7px;

	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	text-align: center;
	color: #306685;
}

#serapationModale{
	border-bottom: 1px solid #B3B3B3;
	padding-bottom: 47px;
}

/* input[type="file"]:hover::before {
	border-color: black;
} */

.imageRecommended{
	font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 12px;
/* identical to box height */

text-align: center;

color: #444444;
}

.formAdd{
	display: flex;
	margin: auto;
	flex-direction: column;
	width: 420px;
}

.fa-image{
	color: #B9C5CC;
	font-size: 58px;
	margin-bottom: 21px;
}

#addWorksButton{
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin: auto;
	padding-left: 49px;
	padding-right: 49px;
	height: 36px;
	border-radius: 60px ;
	transition: background-color 0.1s;
	border:none;
	margin-top: 38px;
}

#addWorksButton:hover{
	cursor: pointer;
	background-color: #0E2F28;
}

#deleteWorksButton{
	font-family: 'Syne';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 17px;
	margin-top: 23px;
	margin-bottom: 48px;
	text-align: center;
	color: #D65353;
}

.modalWorks img{
	width: 78px;
}

.editImage{
	position: relative;
}

.bin{
	position: absolute;
	width: 17px;
	height: 17px;
	background-color: black;
	top: 5px;
	right: 5px;
	border-radius: 2px;
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
}

.bin:hover{
	cursor: pointer;
}

.fa-trash-can{
	font-size: 9px;
}